<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 延迟加载在mybatis核心配置文件sqlMapConfig.xml中的配置 -->
		<setting name="lazyLoadingEnabled" value="false" />
		<!-- MyBatis的缓存配置(Cache) -->
		<setting name="cacheEnabled" value="false" />
		<!-- 日志输出 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	
	
	<!--类型别名 -->
	
	
	<typeAliases>
		<typeAlias type="com.pojo.Doctorlist" alias="doctor" />
		<typeAlias type="com.pojo.DoctorIdentity" alias="doctorIdentity" />
		<typeAlias type="com.pojo.Department" alias="dept" />
		<typeAlias type="com.pojo.Specialty" alias="doctorSpecialty" />		
		<typeAlias type="com.pojo.DoctotShenhe" alias="shenhe" />
		
		<typeAlias type="com.pojo.VBuy" alias="vbuy" />
		<typeAlias type="com.pojo.Zhuangtai" alias="ZT" />
		<typeAlias type="com.pojo.SystemUser" alias="su"/>
		<typeAlias type="com.pojo.Users" alias="us"/>
	</typeAliases>
</configuration>